node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.vercel
.remotion/
.studio-dist/
.env*.local
.env.local
.pnpm-store/*
.agents/skills/.skillshare-manifest.json
.skillshare/config.yaml
.playwright-cli/*
